[submodule "tmux"]
	path = tmux
	url = .
	branch = config/tmux
[submodule "shell"]
	path = shell
	url = .
	branch = config/shell
[submodule "aws"]
	path = aws
	url = .
	branch = config/aws
[submodule "bash"]
	path = bash
	url = .
	branch = config/bash
[submodule "chef"]
	path = chef
	url = .
	branch = config/chef
[submodule "gem"]
	path = gem
	url = .
	branch = config/gem
[submodule "git"]
	path = git
	url = .
	branch = config/git
[submodule "gnupg"]
	path = gnupg
	url = .
	branch = config/gnupg
[submodule "htop"]
	path = htop
	url = .
	branch = config/htop
[submodule "iterm"]
	path = iterm
	url = .
	branch = config/iterm
[submodule "kitchen"]
	path = kitchen
	url = .
	branch = config/kitchen
[submodule "npm"]
	path = npm
	url = .
	branch = config/npm
[submodule "zsh"]
	path = zsh
	url = .
	branch = config/zsh
